{% load staticfiles %}
<html>

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/rtp.css' %}">
</head>
<style>
    {% block style%}

    {% endblock %}
</style>
<body>
<div class="container">
    <div class="card card-container">
        <p id="profile-name" class="profile-name-card"></p>

        <div id="selection">
            <span>select operation type</span>
            </br>
            </br>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" id="periodic">periodic</button>
            </br>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" id="both">both</button>
        </div>
        <form class="form-signin" action="{% url 'periodic' %}" method="post" style="display: none" id="periodicForm">
            {% csrf_token %}
            <p>Please write Name in this format: Task#</p>

            <p>example: Task1</p>
            <input type="text" name="name" class="form-control " placeholder="Name">
            <input type="text" name="period" class="form-control " placeholder="Period">
            <input type="text" name="rea" class="form-control " placeholder="Release Time">
            <input type="text" name="exec" class="form-control " placeholder="Execution Time">
            <input type="text" name="deadline" class="form-control " placeholder="Deadline">

            <div class="input-field col s12">
                <select name="type">
                    <option value="" disabled selected>Choose scheduling algorithm</option>
                    <option value="0">dm</option>
                    <option value="1">edf</option>
                    <option value="2">llf</option>
                    <option value="3">rm</option>
                </select>
            </div>
            <input type="text" id='val' name="val" style="display: none">
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="button" id="addTask">add a new task
            </button>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">analysis</button>
        </form>
        <form class="form-signin" action="{% url 'both' %}" method="post" style="display: none" id="bothForm">
            {% csrf_token %}
            <p>Please write Name in this format: Task#</p>

            <p>example: Task1</p>
            <input type="text" name="name" class="form-control " placeholder="Name">
            <input type="text" name="period" class="form-control " placeholder="Period">
            <input type="text" name="rea" class="form-control " placeholder="Release Time">
            <input type="text" name="exec" class="form-control " placeholder="Executin Time">
            <input type="text" name="deadline" class="form-control " placeholder="Deadline">
            <select name="type" class="form-control">
                <option value="" disabled selected>Choose scheduling algorithm</option>
                <option value="0">deferrable</option>
                <option value="1">sporadic</option>
            </select>
            <input type="text" id="val" name="val" style="display: none">
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="button" id="addTask2">add a new task
            </button>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">analysis</button>
        </form>
    </div>
    <!-- /card-container -->
</div>
<!-- /container -->
</body>
<script src="{% static 'jquery.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script>
    var post = ''
    $('#periodic').click(function () {
        $('#periodicForm').css({'display': ''})
        $('#selection').css({'display': 'none'})
        $('#bothForm').remove()
    });
    $('#both').click(function () {
        $('#bothForm').css({'display': ''})
        $('#selection').css({'display': 'none'})
        $('#periodicForm').remove()
    })
    $('select').material_select();
    $('#addTask').click(function () {
        post += $('[name=period]').val() + ' ' + $('[name=rea]').val() + ' ' + $('[name=exec]').val() + ' ' + $('[name=deadline]').val() + ' ' + $('[name=name]').val() + "##"
        $('#val').val(post)
        alert("Added :) Add another Task")
    })
    $('#addTask2').click(function () {
        post += $('[name=period]').val() + ' ' + $('[name=rea]').val() + ' ' + $('[name=exec]').val() + ' ' + $('[name=deadline]').val() + ' ' + $('[name=name]').val() + "##"
        $('#val').val(post)
        alert("Added :) Add another Task")

    })
</script>

</html>
